# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://<username>:<password>@<host>:6543/<database>?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://<username>:<password>@<host>:5432/<database>"

# Admin Creation Secret - Change this to a strong secret key
# This is used to protect the /auth/create-admin endpoint
ADMIN_CREATION_SECRET=""